.container{
  display: flex;
}
.brutoForm{
  max-width: 50%;
}
.netoForm{
  max-width: 50%;
}
.btn-container{
  margin-bottom: 27px;
}

@media(max-width:650px){
  .container{
    display: table-column;
  }
  .brutoForm{
    min-width: 100%
  }
  .netoForm{
    min-width: 100%;
  }

}